# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.directory

coverage
.nyc_output

# User media
user-media/*
.vscode
#exclude contents of uploads folder
uploads/*
# but keep the folder
!uploads/.keep

# Dependency directories
node_modules/

#rabbitmq 
rabbitmq/rabbitmq_data

# Documentation
docs

#Code quality tools
.scannerwork
sonar-project.properties

#Node specific
.nvmrc

# Output
dist
./../dist
